@import "bootstrap/scss/bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ol {
  padding: 0;
  li {
    list-style: none;
  }
}
